
$theme-colors: ( "bootstrap": #563d7c, "simpleform": #00617f );
@import "bootstrap";


@import "simple_form-bootstrap/simple_form-bootstrap";

/*devise forms */
.centered_button input[type="submit"] {
    display: block;
    margin: 0 auto;
    width: 120px;
}

.centered_links {
  margin: 0 auto;
  width: 200px;
  text-align: center;
  margin-top: 10px;
}
